@layout('layouts.app')

@section('content')
  @set('title', '404 Not Found')

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4 is-offset-4 has-text-centered">
          <h2 class="title">404 Not Found</h2>

          <a class="button is-primary" href="/">Take Me Home</a>
        </div>
      </div>
    </div>
  </section>
@endsection
