<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>Built with <a href="http://adonisjs.com" target="_blank">AdonisJS</a></p>
        </div>
    </div>
</footer>